.books-tabs-container {
    width: 100%;
    background-color: #dde5d300;
    padding: 1rem 2rem;
    box-sizing: border-box;
    overflow: hidden;
}
.books-item {
    display: flex;
    align-items: flex-start;
    padding-bottom: 1.25rem; /* Giữ lại padding nếu muốn có đường kẻ */
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 110%; /* Đảm bảo các item có chiều cao bằng nhau trong grid row nếu cần */
    box-sizing: border-box;
    margin-right: 2rem;
}

.books-item-image-wrapper {
    width: 60px;
    height: 92px;
    margin-right: 2rem;
    flex-shrink: 0;
}

.books-item-image {
    width: 130%;
    height: 120%;
    object-fit: cover;
}

.books-item-details {
    flex-grow: 1;
    text-align: left;
    margin-top: 0.25rem;
}

.books-title {
    font-size: 1rem ;
    font-weight: bold ;
    margin-bottom: 0.25rem ;
}

.books-author {
    font-size: 0.9rem ;
    color: rgba(0, 0, 0, 0.6) ;
    margin-bottom: 0.25rem ;
}

.books-price-original {
    text-decoration: line-through;
    font-size: 0.8rem ;
    color: rgba(0, 0, 0, 0.6) ;
}

.books-price-sale {
    font-weight: bold ;
    font-size: 1rem ;
    color: #333 ;
}
