.app-container {
  height: 3000px;
    width: 100%;
    background-color: #faf4dd; 
    background-image: linear-gradient(
      to right,
      #c8c6bf 0%, 
      #d4d1ca 20%, 
      #faf4dd 100%
    );
    background-repeat: no-repeat;
}
